@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

body {
    max-width: 500px;
    margin: 2% auto;
    padding: 0 10px;
    color: #e7e7e7;
    background-color: #333033;
    font-family: 'Work Sans', sans-serif;
}

p {
    line-height: 25px;
}

a {
    border-bottom: 4px #333033 solid;
    padding-bottom: 1px;
    text-decoration: none;
    color: #daff10;
    transition: all linear 200ms;
    display: inline-block;
}

nav ul li a.active, a:hover {
    border-bottom: 4px #daff10 solid;
}

nav {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: #333033;
    align-items: center;
    border-bottom: 1px #5a6b00 solid;
}

nav ul {
    display: flex;
}

nav ul li {
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

